# Created by https://www.gitignore.io/api/java

### Java ###
# Compiled class file
*.class

### Gradle ###
.gradle
build/
out/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Eclipse project files
.classpath
.project
.settings/

### STS ###
.apt_generated
.factorypath
.springBeans

# Intellij Project Files
.idea/
*.iml
*.iws
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Local Build #
/bin/
/target/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.DS_Store

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# End of https://www.gitignore.io/api/java


target/
!.mvn/wrapper/maven-wrapper.jar
